@charset "UTF-8";
/* ################ VARIABLES ################ */
/*FUENTES*/
/*COLORES*/
/* RESET CSS */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 10px = 1 rem */
html {
  font-size: 62.5%;
}

/* FONTS DE GOOGLE */
.navbarColor {
  background: #3b434d;
}
.navbarColor .fadeInAnimate {
  animation: 1s fadeInRight;
}
.navbarColor .logoDXCar {
  animation: 1s fadeInLeft;
}
.navbarColor .logoDXCar img:hover {
  transform: scale(1.1);
  transition: 0.3s;
  opacity: 0.8;
}
.navbarColor #navbarButton {
  border-color: rgba(255, 255, 255, 0.808);
  font-size: 2rem;
}
.navbarColor #navbarButton .navbar-toggler-icon--color {
  filter: invert(1);
}
.navbarColor #containerNavButton {
  justify-content: space-around;
}
.navbarColor .containerNavLinks ul {
  font-size: 1.8rem;
  padding-top: 20px;
  /* EFECTOS LINKS NAVBAR */
}
.navbarColor .containerNavLinks ul li:hover {
  opacity: 0.6;
  text-shadow: 1px 1px 5px #000000;
  transform: scale(1.1);
  transition: 0.3s;
}
.navbarColor .containerNavLinks ul li a {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  margin-left: 5rem;
}
.navbarColor .containerNavLinks ul li a:hover {
  color: #ffffff;
}
.navbarColor .containerNavLinks ul li a:visited {
  color: #ffffff;
}
.navbarColor .containerNavLinks ul li a:focus {
  color: #000000;
}

/* LINEA VIOLETA DEBAJO DEL NAV y FOOTER*/
.backLineNavbar {
  height: 2rem;
  background: linear-gradient(180deg, #3b434d, #8400ff);
  z-index: 10;
}

/* ################################################################################
############################### PIE DE PAGINA - FOOTER ############################
################################################################################ */
.gradientLineFooter {
  height: 2rem;
  width: 100%;
  background: linear-gradient(360deg, #3b434d, #8400ff);
}

.underLineGradientLine {
  height: 0.2rem;
  width: 100%;
  background: linear-gradient(90deg, #181717, #383838);
}

.footerColor {
  background: #3b434d;
}

/* MAPA */
.footerMap {
  filter: drop-shadow(1px 1px 20px black);
}

/* REDES SOCIALES */
.footerSocialNetworks__img {
  border-radius: 50%;
  margin: 2.5rem 1.5rem 1rem;
  height: 4rem;
}
.footerSocialNetworks__img:hover {
  box-shadow: 1px 1px 20px #000000;
  transform: scale(1.1);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .containerLocation {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* ################################################################################
############################### PESTAÑA INICIO ####################################
################################################################################ */
.bodyInicio {
  background-image: url("../img/autoInicio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* ONDAS VIOLETAS DEBAJO DE LOOP DE VIDEO */
  /* BANNER TITULOS NEW USED */
  /* CARDS NUEVOS Y USADOS */
  /* CARDS VEHICULOS DESTACADOS */
  /* SECCION MARCAS TRABAJADAS */
}
.bodyInicio .boxVideoPortada {
  position: relative;
  height: 60vh;
  width: 100%;
  top: 11.5rem;
}
.bodyInicio .boxVideoPortada #videoPortada {
  position: relative;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 60vh;
}
.bodyInicio .wave {
  position: relative;
  top: 11.5rem;
  width: 100%;
}
.bodyInicio .titleNewUsedCars {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  text-shadow: 1px 1px 10px #440aafa9;
  font-size: 8vw;
  margin-left: -5vw;
  color: #000000;
}
.bodyInicio .newUsedCards {
  background: linear-gradient(90deg, #3b434d7c, #d8de2aa9);
  border-radius: 50px;
  padding: 3%;
  box-shadow: 1px 1px 5px black;
}
.bodyInicio .newUsedCards img:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}
.bodyInicio .newUsedCards h2 {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 6rem;
  color: #000000d7;
  letter-spacing: 1px;
  margin-top: 5rem;
  text-shadow: 1px 1px 5px #3b434d;
}
.bodyInicio .newUsedCards p {
  color: #212327;
  font-weight: bolder;
  font-size: 2.5rem;
  margin: 2% 5%;
}
.bodyInicio .newUsedCards button {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #499bf8;
  border: 2px solid #4747f3;
  box-shadow: 1px 1px 5px blue;
  font-size: 3rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: #ffffff;
}
.bodyInicio .newUsedCards button:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
  cursor: pointer;
}
.bodyInicio .boxCards {
  position: relative;
  top: 40rem;
}
.bodyInicio .boxCards .boxCards__titleCar {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 10px #3b434d;
  color: #000000ec;
}
.bodyInicio .boxCards .boxCards__titleCar h2 {
  margin: -15% 0% 0% 10%;
}
.bodyInicio .boxCards .boxCards__titleCar .boxCards__titleCar--titleSize {
  font-size: 7vw;
}
.bodyInicio .boxCards .boxCards__titleCar p {
  font-size: 4vw;
  text-align: center;
  padding: 3%;
}
.bodyInicio .boxCards .boxCards__card {
  display: flex;
  width: 100%;
}
.bodyInicio .boxCards .boxCards__card .boxCards__item {
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 1px 1px 10px #3b434d;
  background: radial-gradient(ellipse at top, #d0d31579, transparent), radial-gradient(ellipse at bottom, #3b434d, transparent);
  /* FLEX COLORES DISPONIBLES */
}
.bodyInicio .boxCards .boxCards__card .boxCards__item .boxCards__img {
  width: 100%;
}
.bodyInicio .boxCards .boxCards__card .boxCards__item .boxCards__img:hover {
  animation: 1.5s bounce;
}
.bodyInicio .boxCards .boxCards__card .boxCards__item .boxCards__ul {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  color: #000000;
  margin: 4% 0% 5% 10%;
}
.bodyInicio .boxCards .boxCards__card .boxCards__item .boxCards__ul .boxCards__vinetaUL {
  list-style-image: url("../img/vineta.png");
}
.bodyInicio .boxCards .boxCards__card .boxCards__item .containerColorCarsDisp {
  display: flex;
  padding: 5%;
}
.bodyInicio .boxCards .boxCards__card .boxCards__item .containerColorCarsDisp .containerColorCarsDisp__item {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 20%;
  border: 1px solid #000000;
  filter: drop-shadow(5px 5px 20px black);
}
.bodyInicio .boxCards .boxCards__card .boxCards__item .containerColorCarsDisp .containerColorCarsDisp__item:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
  filter: brightness(1.5);
}
.bodyInicio .boxCards h4,
.bodyInicio .boxCards h5 {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 3px #0000009f;
  font-size: 3rem;
  color: #000000;
}
.bodyInicio #red {
  background-color: #ff0000;
}
.bodyInicio #blue {
  background-color: #2660df;
}
.bodyInicio #grey {
  background-color: #666565;
}
.bodyInicio #black {
  background-color: #000000;
}
.bodyInicio #green {
  background-color: #008000;
}
.bodyInicio #yellow {
  background-color: #ffff00;
}
.bodyInicio #orange {
  background-color: #ffa500;
}
.bodyInicio .seccionMarcasTrabajadas {
  margin-top: 80rem;
}
.bodyInicio .seccionMarcasTrabajadas .titleBrands {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 10px #3b434d;
  color: #000000;
}
.bodyInicio .seccionMarcasTrabajadas .titleBrands p {
  font-size: 4vw;
  text-align: center;
  padding: 1%;
}
.bodyInicio .containerBrands {
  width: 80%;
  margin: 5rem auto;
  border-radius: 15px;
  background: radial-gradient(#d8de2aa9, #00000044);
}
.bodyInicio .containerBrands .containerBrands__in {
  padding: 30px;
}
.bodyInicio .containerBrands .containerBrands__in .containerBrands__item img {
  width: 100%;
  border-radius: 15px;
  filter: drop-shadow(10px 10px 20px black);
}
.bodyInicio .containerBrands .containerBrands__in .containerBrands__item:hover {
  transform: rotate3d(0, 1, 0.5, 3.142rad);
  transition-duration: 1s;
  -webkit-transform: rotate3d(0, 1, 0.5, 3.142rad);
  -moz-transform: rotate3d(0, 1, 0.5, 3.142rad);
  -ms-transform: rotate3d(0, 1, 0.5, 3.142rad);
  -o-transform: rotate3d(0, 1, 0.5, 3.142rad);
}

/* ################################################################################
##################################### PESTAÑA CERO KM #############################
################################################################################ */
.bodyCerokm {
  background-image: linear-gradient(45deg, #ffffff71 0%, #c09fe633 100%);
  /* CONTAINER GENERAL DEL GRID*/
  /* COLUMNA AUTOS-DESCRIPCION-COMPRA-INFORMACION */
  /* AUTO 1 */
  /* AUTO 2 */
  /* AUTO 3 */
  /* AUTO 4 */
  /* AUTO 5 */
}
.bodyCerokm .containerTitleCerokm {
  width: 80%;
  margin: 0 auto;
  margin: 160px auto 10px;
}
.bodyCerokm .containerTitleCerokm h2 {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
  text-shadow: 1px 1px 5px #3b434d;
}
.bodyCerokm .containerCeroKM {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  width: 80%;
  margin: 50px auto;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 20px;
  grid-template-areas: "containerCerokm__filtro auto1" ". auto2" ". auto3" ". auto4" ". auto5";
  /* COLUMNA FILTRO */
}
.bodyCerokm .containerCeroKM .containerCerokm__filtro {
  display: grid;
  box-shadow: 1px 1px 5px black;
  padding: 15px;
  border-radius: 15px;
  background-color: #5858583d;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "tituloFiltro" "ano" "marca" "modelo";
  grid-area: containerCerokm__filtro;
}
.bodyCerokm .containerCeroKM .containerCerokm__filtro .tituloFiltro h3 {
  font-size: 4rem;
  text-shadow: 1px 1px 2px #3b434d;
  letter-spacing: 1px;
  grid-area: tituloFiltro;
}
.bodyCerokm .containerCeroKM .containerCerokm__filtro h4 {
  font-size: 2rem;
  text-shadow: 1px 1px 1px #3b434d;
  letter-spacing: 1px;
}
.bodyCerokm .containerCeroKM .containerCerokm__filtro .ano {
  grid-area: ano;
}
.bodyCerokm .containerCeroKM .containerCerokm__filtro .marca {
  grid-area: marca;
}
.bodyCerokm .containerCeroKM .containerCerokm__filtro .modelo {
  grid-area: modelo;
}
.bodyCerokm .containerCeroKM .containerCerokm__filtro select {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border-width: 0.2rem;
  padding: 1rem;
  margin: 1rem;
  width: 90%;
  color: #000000;
}
.bodyCerokm .containerCerokm__autos {
  background-color: #d8de2a1c;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px black;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 0px 15px;
  height: fit-content;
}
.bodyCerokm .containerCerokm__autos img {
  margin-bottom: 10px;
  border: 5px solid #3b434d;
  border-style: double;
  border-radius: 15px;
  width: 100%;
  min-width: 200px;
}
.bodyCerokm .containerCerokm__autos h5 {
  background-color: #9fde2a3d;
  border-radius: 15px;
  padding: 10px;
}
.bodyCerokm .auto1 {
  grid-template-areas: "auto1Img auto1Descripcion" "auto1ComprarInformacion auto1ComprarInformacion";
  grid-area: auto1;
}
.bodyCerokm .auto1 .auto1Img {
  grid-area: auto1Img;
}
.bodyCerokm .auto1 .auto1Descripcion {
  grid-area: auto1Descripcion;
}
.bodyCerokm .auto1 .auto1ComprarInformacion {
  grid-area: auto1ComprarInformacion;
}
.bodyCerokm .auto2 {
  grid-template-areas: "auto2Img auto2Descripcion" "auto2ComprarInformacion auto2ComprarInformacion";
  grid-area: auto2;
}
.bodyCerokm .auto2 .auto2Img {
  grid-area: auto2Img;
}
.bodyCerokm .auto2 .auto2Descripcion {
  grid-area: auto2Descripcion;
}
.bodyCerokm .auto2 .auto2ComprarInformacion {
  grid-area: auto2ComprarInformacion;
}
.bodyCerokm .auto3 {
  grid-template-areas: "auto3Img auto3Descripcion" "auto3ComprarInformacion auto3ComprarInformacion";
  grid-area: auto3;
}
.bodyCerokm .auto3 .auto3Img {
  grid-area: auto3Img;
}
.bodyCerokm .auto3 .auto3Descripcion {
  grid-area: auto3Descripcion;
}
.bodyCerokm .auto3 .auto3ComprarInformacion {
  grid-area: auto3ComprarInformacion;
}
.bodyCerokm .auto4 {
  grid-template-areas: "auto4Img auto4Descripcion" "auto4ComprarInformacion auto4ComprarInformacion";
  grid-area: auto4;
}
.bodyCerokm .auto4 .auto4Img {
  grid-area: auto4Img;
}
.bodyCerokm .auto4 .auto4Descripcion {
  grid-area: auto4Descripcion;
}
.bodyCerokm .auto4 .auto4ComprarInformacion {
  grid-area: auto4ComprarInformacion;
}
.bodyCerokm .auto5 {
  grid-template-areas: "auto5Img auto5Descripcion" "auto5ComprarInformacion auto5ComprarInformacion";
  grid-area: auto5;
}
.bodyCerokm .auto5 .auto5Img {
  grid-area: auto5Img;
}
.bodyCerokm .auto5 .auto5Descripcion {
  grid-area: auto5Descripcion;
}
.bodyCerokm .auto5 .auto5ComprarInformacion {
  grid-area: auto5ComprarInformacion;
}

.autoDescripcion__Desc {
  font-style: italic;
  font-size: 1.9rem;
  background-color: #d8de2a3d;
  border-radius: 15px;
  padding: 10px 25px;
}

.tituloModal {
  font-size: 3rem;
  color: white;
}

.infoModal {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

#comprar {
  background-color: #1c6dc9;
  border: 2px solid #4747f3;
  box-shadow: 1px 1px 10px #0000ff;
  width: 16rem;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5px;
  margin: 0 44%;
  color: rgba(255, 255, 255, 0.87);
}
#comprar:hover {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #1776e4;
  border: 2px solid #3232f7;
  box-shadow: 1px 1px 5px #0000ff;
  padding: 1rem;
  border-radius: 10px;
  transform: scale(1.1);
  transition: 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#masInformacion {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ff8800;
  border: 2px solid #fc7232;
  box-shadow: 1px 1px 10px #ff9900;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.87);
}
#masInformacion:hover {
  background-color: #f3952a;
  border: 2px solid #fa611a;
  box-shadow: 1px 1px 5px #ff9900;
  transform: scale(1.1);
  transition: 0.3s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* ################################################################################
##################################### PESTAÑA USADOS###############################
################################################################################ */
.bodyUsados {
  background-image: linear-gradient(45deg, #ffffff71 0%, #c09fe633 100%);
  /* CONTAINER GENERAL DEL GRID*/
  /* COLUMNA AUTOS-DESCRIPCION-COMPRA-INFORMACION */
  /* AUTO 6 */
  /* AUTO 7 */
  /* AUTO 8 */
  /* AUTO 9 */
  /* AUTO 10 */
}
.bodyUsados .containerTitleUsados {
  width: 80%;
  margin: 0 auto;
  margin: 160px auto 10px;
}
.bodyUsados .containerTitleUsados h2 {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
  text-shadow: 1px 1px 5px #3b434d;
}
.bodyUsados .containerUsados {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  width: 80%;
  margin: 50px auto;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 20px;
  grid-template-areas: "containerUsados__filtro auto6" ". auto7" ". auto8" ". auto9" ". auto10";
  /* COLUMNA FILTRO */
}
.bodyUsados .containerUsados .containerUsados__filtro {
  display: grid;
  box-shadow: 1px 1px 5px black;
  padding: 15px;
  border-radius: 15px;
  background-color: #5858583d;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "tituloFiltro" "cantkm" "marca" "modelo";
  grid-area: containerUsados__filtro;
}
.bodyUsados .containerUsados .tituloFiltro h3 {
  font-size: 4rem;
  text-shadow: 1px 1px 2px #3b434d;
  letter-spacing: 1px;
  grid-area: tituloFiltro;
}
.bodyUsados .containerUsados h4 {
  font-size: 2rem;
  text-shadow: 1px 1px 1px #3b434d;
  letter-spacing: 1px;
}
.bodyUsados .containerUsados .cantkm {
  grid-area: cantkm;
}
.bodyUsados .containerUsados .marca {
  grid-area: marca;
}
.bodyUsados .containerUsados .modelo {
  grid-area: modelo;
}
.bodyUsados .containerUsados select {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border-width: 0.2rem;
  padding: 1rem;
  margin: 1rem;
  width: 90%;
  color: #000000;
}
.bodyUsados .containerUsado__autos {
  background-color: #d8de2a1c;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px black;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 0px 15px;
  height: fit-content;
}
.bodyUsados .containerUsado__autos img {
  margin-bottom: 10px;
  border: 5px solid #3b434d;
  border-style: double;
  border-radius: 15px;
  width: 100%;
  min-width: 200px;
}
.bodyUsados .containerUsado__autos h5 {
  background-color: #9fde2a3d;
  border-radius: 15px;
  padding: 10px;
}
.bodyUsados .auto6 {
  grid-template-areas: "auto6Img auto6Descripcion" "auto6ComprarInformacion auto6ComprarInformacion";
  grid-area: auto6;
}
.bodyUsados .auto6 .auto6Img {
  grid-area: auto6Img;
}
.bodyUsados .auto6 .auto6Descripcion {
  grid-area: auto6Descripcion;
}
.bodyUsados .auto6 .auto6ComprarInformacion {
  grid-area: auto6ComprarInformacion;
}
.bodyUsados .auto7 {
  grid-template-areas: "auto7Img auto7Descripcion" "auto7ComprarInformacion auto7ComprarInformacion";
  grid-area: auto7;
}
.bodyUsados .auto7 .auto7Img {
  grid-area: auto7Img;
}
.bodyUsados .auto7 .auto7Descripcion {
  grid-area: auto7Descripcion;
}
.bodyUsados .auto7 .auto7ComprarInformacion {
  grid-area: auto7ComprarInformacion;
}
.bodyUsados .auto8 {
  grid-template-areas: "auto8Img auto8Descripcion" "auto8ComprarInformacion auto8ComprarInformacion";
  grid-area: auto8;
}
.bodyUsados .auto8 .auto8Img {
  grid-area: auto8Img;
}
.bodyUsados .auto8 .auto8Descripcion {
  grid-area: auto8Descripcion;
}
.bodyUsados .auto8 .auto8ComprarInformacion {
  grid-area: auto8ComprarInformacion;
}
.bodyUsados .auto9 {
  grid-template-areas: "auto9Img auto9Descripcion" "auto9ComprarInformacion auto9ComprarInformacion";
  grid-area: auto9;
}
.bodyUsados .auto9 .auto9Img {
  grid-area: auto9Img;
}
.bodyUsados .auto9 .auto9Descripcion {
  grid-area: auto9Descripcion;
}
.bodyUsados .auto9 .auto9ComprarInformacion {
  grid-area: auto9ComprarInformacion;
}
.bodyUsados .auto10 {
  grid-template-areas: "auto10Img auto10Descripcion" "auto10ComprarInformacion auto10ComprarInformacion";
  grid-area: auto10;
}
.bodyUsados .auto10 .auto10Img {
  grid-area: auto10Img;
}
.bodyUsados .auto10 .auto10Descripcion {
  grid-area: auto10Descripcion;
}
.bodyUsados .auto10 .auto10ComprarInformacion {
  grid-area: auto10ComprarInformacion;
}

/* ################################################################################
##################################### PESTAÑA EMPRESA #############################
################################################################################ */
/*SOBRE NOSOTROS*/
.titleSection {
  width: 80%;
  margin: 5rem auto;
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 5px #3b434d;
}
.titleSection h2 {
  font-size: 3.5rem;
}

.AboutUsTitle {
  position: relative;
  top: 130px;
  width: 80%;
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 5px #3b434d;
}

/*OPERACIONES*/
/*CONDICIONALES*/
/*aplicamos radius de 10 , en caso contrario no*/
/*BOOLEANO*/
/*EXTEND*/
#containerAboutUs {
  border: 1px solid rgba(110, 109, 109, 0.555);
  border-radius: 10px;
  overflow: auto;
}

.containerAboutUs {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  width: 80%;
  margin: 15rem auto 0;
}
.containerAboutUs .containerAboutUs__logo {
  background: #3b434d;
  padding: 2rem;
}
.containerAboutUs .containerAboutUs__Description {
  background: linear-gradient(90deg, #c4caa4b6, #d9dd6ea9);
  /*BOTON CLICK AQUI - CONTACTO*/
}
.containerAboutUs .containerAboutUs__Description .containerAboutUs__Description--parrafo, .containerAboutUs .containerAboutUs__Description .cardsTeamImg {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.containerAboutUs .containerAboutUs__Description .containerAboutUs__Contacto {
  width: 90%;
}
.containerAboutUs .containerAboutUs__Description figure {
  width: 180px;
  height: 60px;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
}
.containerAboutUs .containerAboutUs__Description figure div {
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.containerAboutUs .containerAboutUs__Description figure:hover div {
  transform: rotateX(-90deg);
}
.containerAboutUs .containerAboutUs__Description span {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 5px solid #ffffff;
  border-radius: 0.3rem;
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.containerAboutUs .containerAboutUs__Description span a {
  text-decoration: none;
  color: #2c29e2;
}
.containerAboutUs .containerAboutUs__Description span:nth-child(1) {
  font-size: 2rem;
  color: #3b434d;
  transform: translate3d(0, 0, 30px);
  -webkit-transform: translate3d(0, 0, 30px);
}
.containerAboutUs .containerAboutUs__Description span:nth-child(2) {
  font-size: 2rem;
  background: #d6dabe;
  transform: rotateX(90deg) translate3d(0, 0, 30px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}

/*SECCION NUESTRO EQUIPO*/
.containerTeam__img {
  filter: drop-shadow(5px 5px 10px black);
  -webkit-filter: drop-shadow(5px 5px 10px black);
  margin: 5rem 0;
}
.containerTeam__img img {
  border: 1px solid rgba(110, 109, 109, 0.555);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: transform 1s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
  -webkit-transition: transform 1s, filter 1.5s ease-in-out;
  -moz-transition: transform 1s, filter 1.5s ease-in-out;
  -ms-transition: transform 1s, filter 1.5s ease-in-out;
  -o-transition: transform 1s, filter 1.5s ease-in-out;
}
.containerTeam__img img:hover {
  filter: grayscale(0);
}

/*SECCION AUTORIDADES*/
.containerCardsTeam {
  margin: 2rem auto 10rem;
}
.containerCardsTeam .cardsTeamItem {
  box-shadow: 1px 1px 10px black;
  background: linear-gradient(#0066ff3b, #ffffffcc);
  border: 1px solid grey;
  border-radius: 1rem;
  text-align: center;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.containerCardsTeam .cardsTeamItem .cardsTeamImg img {
  border-radius: 1rem;
  width: 100%;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.containerCardsTeam .cardsTeamItem .cardsTeamDescription {
  padding: 3rem;
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
}
.containerCardsTeam .cardsTeamItem .cardsTeamDescription h2 {
  font-size: 2.5rem;
  text-shadow: 0.5px 0.5px 20px black;
}
.containerCardsTeam .cardsTeamItem .cardsTeamDescription h3 {
  font-size: 2rem;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.521);
}

/*#######################*/
/*######## INDEX ########*/
/*#######################*/
/*min-width:0 -> mayor o igual a 0 */
/*max-width:768 -> menor o igual a 768*/
@media (min-width: 0) {
  .titleNewUsedCars {
    display: none;
  }

  .newUsedCards {
    margin-top: 5rem;
  }
  .newUsedCards h2 {
    text-align: center;
  }

  .newUsedCards__button {
    text-align: center;
  }

  .boxCards__titleCar {
    margin-top: -30rem;
  }

  #newUsedCards__img {
    width: 100%;
  }

  .boxCards__card {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .boxCards__card .boxCards__item {
    width: 80%;
    margin-top: 10px;
  }
  .boxCards__card .boxCards__item h4,
.boxCards__card .boxCards__item h5 {
    text-align: center;
  }
  .boxCards__card .boxCards__item .containerColorCarsDisp {
    justify-content: center;
  }
  .boxCards__card .boxCards__item .boxCards__ul {
    margin: 0;
  }

  .titleBrands {
    margin-top: -30rem;
  }

  .containerBrands {
    display: flex;
    justify-content: center;
  }
  .containerBrands .containerBrands__in {
    display: flex;
    flex-direction: column;
  }
  .containerBrands .containerBrands__item img {
    margin-top: 1.5rem;
  }
}
@media (min-width: 768px) {
  .newUsedCards p {
    font-size: 2rem;
  }
  .newUsedCards h2 {
    font-size: 5rem;
    text-align: left;
  }
  .newUsedCards .newUsedCards__button {
    text-align: left;
  }

  #newUsedCards__img {
    width: 50%;
  }

  .boxCards__card {
    flex-direction: row;
  }
  .boxCards__card .boxCards__item {
    width: 25%;
  }
  .boxCards__card .boxCards__item h4,
.boxCards__card .boxCards__item h5 {
    font-size: 1.5vw;
    text-align: start;
  }
  .boxCards__card .boxCards__item .containerColorCarsDisp {
    justify-content: flex-start;
  }
  .boxCards__card .boxCards__item .boxCards__ul {
    margin: 0;
  }

  .containerBrands {
    display: block;
  }
  .containerBrands .containerBrands__in {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
/*#######################*/
/*####### CONTACTO ######*/
/*#######################*/
@media (min-width: 0px) {
  .titContacto h2 {
    font-size: 10vw;
  }

  .titContacto h3 {
    font-size: 4vw;
  }

  .ContactForm__resetButton {
    margin: 0;
  }

  .containerButtons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
@media (min-width: 768px) {
  .titContacto h2 {
    font-size: 5vw;
  }

  .titContacto h3 {
    font-size: 2vw;
  }

  .ContactForm__resetButton {
    margin-left: 2%;
  }

  .containerButtons {
    display: flex;
    flex-direction: row;
  }
}
/*#######################*/
/*####### EMPRESA #######*/
/*#######################*/
@media (min-width: 0px) {
  /*SOBRE NOSOTROS*/
  .containerAboutUs__Contacto {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 1% auto;
  }

  .containerAboutUs__Description--parrafo, .cardsTeamImg {
    font-size: 1.5rem;
    padding: 1.5rem;
  }

  #botonContacto {
    width: 20rem;
    font-size: 2rem;
  }

  /*NUESTRO EQUIPO*/
  .titleSection {
    text-align: center;
  }

  .containerCardsTeam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    gap: 15px;
  }

  .containerTeam__img img {
    width: 80%;
  }
}
@media (min-width: 768px) {
  /*SOBRE NOSOTROS*/
  .containerAboutUs__Contacto {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 1% 1%;
  }

  .containerAboutUs__Description--parrafo, .cardsTeamImg {
    font-size: 2rem;
    padding: 1.5rem;
  }

  #botonContacto {
    width: 18rem;
    font-size: 2rem;
  }

  /*NUESTRO EQUIPO*/
  .titleSection {
    text-align: start;
  }

  .containerCardsTeam {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .containerTeam__img img {
    width: 60%;
  }
}
/*#######################*/
/*####### CERO KM #######*/
/*#######################*/
@media only screen and (min-width: 0px) {
  .containerCerokm__autos {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-self: baseline;
  }
  .containerCerokm__autos h5 {
    font-size: 6vw;
  }

  .containerCeroKM {
    display: flex;
    flex-wrap: wrap;
  }

  .containerCerokm__filtro {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }

  .tituloFiltro {
    width: 100%;
    text-align: center;
  }

  #masInformacion {
    font-size: 3vw;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .containerCerokm__autos {
    display: grid;
    flex-direction: column;
    font-size: 1rem;
    align-self: baseline;
  }
  .containerCerokm__autos h5 {
    font-size: 4rem;
  }

  .containerCeroKM {
    display: grid;
    flex-wrap: wrap;
  }

  .tituloFiltro {
    width: 100%;
  }

  #masInformacion {
    font-size: 2rem;
    width: 16rem;
  }
}
/*#######################*/
/*####### USADOS #######*/
/*#######################*/
@media only screen and (min-width: 0px) {
  .containerUsado__autos {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-self: baseline;
  }
  .containerUsado__autos h5 {
    font-size: 6vw;
  }

  .containerUsados {
    display: flex;
    flex-wrap: wrap;
  }

  .containerUsados__filtro {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }

  .tituloFiltro {
    width: 100%;
  }

  #comprar {
    font-size: 3vw;
    width: 100%;
    margin: 3% 0;
  }
}
@media only screen and (min-width: 768px) {
  .containerUsado__autos {
    display: grid;
    flex-direction: column;
    font-size: 1rem;
    align-self: baseline;
  }
  .containerUsado__autos h5 {
    font-size: 4rem;
  }

  .containerUsados {
    display: grid;
    flex-wrap: wrap;
  }

  .containerUsados__filtro {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }

  .tituloFiltro {
    width: 100%;
  }

  #comprar {
    font-size: 2rem;
    width: 16rem;
    margin: 2% 1rem;
  }
}
/* ################################################################################
############################### PESTAÑA CONTACTO ##################################
################################################################################ */
/* TITULO */
.bodyContacto {
  background-image: url("../img/autoContacto.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000000;
  /* FORMULARIO - CONTACTO */
}
.bodyContacto .titContacto {
  position: relative;
  top: 10rem;
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
}
.bodyContacto .titContacto h2 {
  color: #c9c6c6d2;
  text-shadow: 5px 5px 10px #3b434d;
  animation: 0.7s 0s reverse slideinTitContacto;
  margin-bottom: 3rem;
}
.bodyContacto .titContacto h3 {
  font-style: italic;
  color: #f7f7f7d2;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 10px #3b434d;
  animation: 0.7s 0s reverse slideinTitContacto;
  -webkit-animation: 0.7s 0s reverse slideinTitContacto;
}
.bodyContacto .ContactForm {
  background: linear-gradient(180deg, #3b434d81, #8400ff3b);
  border: 1px solid #5e5959;
  border-radius: 10px;
  animation: 0.5s 0s reverse zoominContactForm;
  -webkit-animation: 0.5s 0s reverse zoominContactForm;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.bodyContacto .ContactForm label {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
}
.bodyContacto .ContactForm .ContactForm__submitButton {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
  color: #ffffffd5;
  font-weight: 100;
  border: 2px solid #d4fab1;
  border-radius: 5px;
  padding: 9px 15px;
  background-color: #7bff0096;
  box-shadow: 1px 1px 2px #7bff00;
  transition-duration: 0.4s;
}
.bodyContacto .ContactForm .ContactForm__submitButton:hover {
  background-color: #92e742be;
  box-shadow: 1px 1px 5px #f1ff70be;
  border: 2px solid #ebfcc3;
  color: #ffffffd5;
}
.bodyContacto .ContactForm .ContactForm__resetButton {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #ffffffd5;
  font-weight: 100;
  border: 2px solid #ffffffbe;
  border-radius: 5px;
  padding: 9px 15px;
  background-color: #777777a9;
  box-shadow: 1px 1px 2px #000000be;
  transition-duration: 0.4s;
}
.bodyContacto .ContactForm .ContactForm__resetButton:hover {
  background-color: #000000be;
  box-shadow: 1px 1px 5px #c20417be;
  border: 2px solid #bb2837;
  color: #ffffffd5;
}

/*#######################*/
/*####### CONTACTO ######*/
/*#######################*/
/* EFECTO ANIMATION TITULO CONTACTO */
@keyframes slideinTitContacto {
  from {
    margin-left: 5%;
  }
  to {
    margin-left: -100%;
  }
}
/*EFECTO ZOOM IN EN FORMULARIO*/
@keyframes zoominContactForm {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  to {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
}

/*# sourceMappingURL=styles.css.map */
