@charset "UTF-8";
/* ################ VARIABLES ################ */
/*FUENTES*/
/*COLORES*/
/* RESET CSS */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 10px = 1 rem */
html {
  font-size: 62.5%;
}

/* FONTS DE GOOGLE */
.navbarColor {
  background: #3b434d;
}

.navbarColor .fadeInAnimate {
  -webkit-animation: 1s fadeInRight;
          animation: 1s fadeInRight;
}

.navbarColor .logoDXCar {
  -webkit-animation: 1s fadeInLeft;
          animation: 1s fadeInLeft;
}

.navbarColor .logoDXCar img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.8;
}

.navbarColor #navbarButton {
  border-color: rgba(255, 255, 255, 0.808);
  font-size: 2rem;
}

.navbarColor #navbarButton .navbar-toggler-icon--color {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.navbarColor #containerNavButton {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbarColor .containerNavLinks ul {
  font-size: 1.8rem;
  padding-top: 20px;
  /* EFECTOS LINKS NAVBAR */
}

.navbarColor .containerNavLinks ul li:hover {
  opacity: 0.6;
  text-shadow: 1px 1px 5px #000000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbarColor .containerNavLinks ul li a {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  margin-left: 5rem;
}

.navbarColor .containerNavLinks ul li a:hover {
  color: #ffffff;
}

.navbarColor .containerNavLinks ul li a:visited {
  color: #ffffff;
}

.navbarColor .containerNavLinks ul li a:focus {
  color: #000000;
}

/* LINEA VIOLETA DEBAJO DEL NAV y FOOTER*/
.backLineNavbar {
  height: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#3b434d), to(#8400ff));
  background: linear-gradient(180deg, #3b434d, #8400ff);
  z-index: 10;
}

/* ################################################################################
############################### PIE DE PAGINA - FOOTER ############################
################################################################################ */
.gradientLineFooter {
  height: 2rem;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#3b434d), to(#8400ff));
  background: linear-gradient(360deg, #3b434d, #8400ff);
}

.underLineGradientLine {
  height: 0.2rem;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#181717), to(#383838));
  background: linear-gradient(90deg, #181717, #383838);
}

.footerColor {
  background: #3b434d;
}

/* MAPA */
.footerMap {
  -webkit-filter: drop-shadow(1px 1px 20px black);
          filter: drop-shadow(1px 1px 20px black);
}

/* REDES SOCIALES */
.footerSocialNetworks__img {
  border-radius: 50%;
  margin: 2.5rem 1.5rem 1rem;
  height: 4rem;
}

.footerSocialNetworks__img:hover {
  -webkit-box-shadow: 1px 1px 20px #000000;
          box-shadow: 1px 1px 20px #000000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .containerLocation {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* ################################################################################
############################### PESTAÑA INICIO ####################################
################################################################################ */
.bodyInicio {
  background-image: url("../img/autoInicio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.boxVideoPortada {
  position: relative;
  height: 60vh;
  width: 100%;
  top: 11.5rem;
}

#videoPortada {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 60vh;
}

/* ONDAS VIOLETAS DEBAJO DE LOOP DE VIDEO */
.wave {
  position: relative;
  top: 11.5rem;
  width: 100%;
}

/* BANNER TRASERO */
.titleNewUsedCars {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  text-shadow: 1px 1px 10px #440aafa9;
  font-size: 8vw;
  margin-left: -5vw;
  color: #000000;
}

@media (min-width: 0) {
  .titleNewUsedCars {
    display: none;
  }
  .newUsedCards {
    margin-top: 50px;
  }
  .boxCards__titleCar {
    margin-top: -300px;
  }
  .titleBrands {
    margin-top: -300px;
  }
}

/* CARDS NUEVOS Y USADOS */
.newUsedCards {
  background: -webkit-gradient(linear, left top, right top, from(#3b434d7c), to(#d8de2aa9));
  background: linear-gradient(90deg, #3b434d7c, #d8de2aa9);
  border-radius: 50px;
  padding: 3%;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
}

.newUsedCards img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.newUsedCards h2 {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 6rem;
  color: #000000d7;
  letter-spacing: 1px;
  margin-top: 5rem;
  text-shadow: 1px 1px 5px #3b434d;
}

.newUsedCards p {
  color: #212327;
  font-weight: bolder;
  font-size: 2.5rem;
  margin: 2% 5%;
}

.newUsedCards button {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #499bf8;
  border: 2px solid #4747f3;
  -webkit-box-shadow: 1px 1px 5px blue;
          box-shadow: 1px 1px 5px blue;
  font-size: 3rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: #ffffff;
}

.newUsedCards button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

/* CARDS VEHICULOS DESTACADOS */
.boxCards {
  position: relative;
  top: 40rem;
}

.boxCards__titleCar {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 10px #3b434d;
  color: #000000ec;
}

.boxCards__titleCar h2 {
  margin: -15% 0% 0% 10%;
}

.boxCards__titleCar--titleSize {
  font-size: 7vw;
}

.boxCards__titleCar p {
  font-size: 4vw;
  text-align: center;
  padding: 3%;
}

.boxCards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boxCards__item {
  width: 25%;
  border: 1px solid #000000;
  margin: 0px 25px 0px 25px;
  padding: 20px;
  border-radius: 30px;
  -webkit-box-shadow: 1px 1px 10px #3b434d;
          box-shadow: 1px 1px 10px #3b434d;
  background: radial-gradient(ellipse at top, #d0d31579, transparent), radial-gradient(ellipse at bottom, #3b434d, transparent);
  /* background: radial-gradient(); */
}

/* REDIMENSIONAMIENTO "CARDS" VEHICULOS DESTACADOS AL REDUCIR TAMAÑO PANTALLA */
@media (max-width: 768px) {
  .boxCards__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .boxCards__item {
    width: 80%;
    margin-top: 10px;
  }
}

.boxCards__img {
  width: 100%;
}

.boxCards__img:hover {
  -webkit-animation: 1.5s bounce;
          animation: 1.5s bounce;
}

.boxCards__ul {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  color: #000000;
  margin: 4% 0% 5% 10%;
}

/* TABLA VEHICULOS DESTACADOS */
.boxCards h4,
h5 {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 3px #0000009f;
  font-size: 3rem;
  color: #000000;
}

.boxCards h5 {
  font-size: 2rem;
}

.boxCards__vinetaUL {
  list-style-image: url("../img/vineta.png");
}

/* FLEX COLORES DISPONIBLES */
.containerColorCarsDisp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5%;
}

.containerColorCarsDisp__item {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 20%;
  border: 1px solid #000000;
  -webkit-filter: drop-shadow(5px 5px 20px black);
          filter: drop-shadow(5px 5px 20px black);
}

.containerColorCarsDisp__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

#red {
  background-color: #ff0000;
}

#blue {
  background-color: #2660df;
}

#grey {
  background-color: #666565;
}

#black {
  background-color: #000000;
}

#green {
  background-color: #008000;
}

#yellow {
  background-color: #ffff00;
}

#orange {
  background-color: #ffa500;
}

/* SECCION MARCAS TRABAJADAS */
.seccionMarcasTrabajadas {
  margin-top: 80rem;
}

.titleBrands {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 10px #3b434d;
  color: #000000;
}

.titleBrands p {
  font-size: 4vw;
  text-align: center;
  padding: 1%;
}

.containerBrands {
  width: 80%;
  margin: 5rem auto;
  border-radius: 15px;
  background: radial-gradient(#d8de2aa9, #00000044);
}

.containerBrands__in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 30px;
}

.containerBrands__item img {
  width: 100%;
  border-radius: 15px;
  -webkit-filter: drop-shadow(10px 10px 20px black);
          filter: drop-shadow(10px 10px 20px black);
}

.containerBrands__item img:hover {
  -webkit-transform: translate(1px, -30px);
          transform: translate(1px, -30px);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

@media (max-width: 768px) {
  .containerBrands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .containerBrands__in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerBrands__item img {
    margin-top: 10px;
  }
}

/* ################################################################################
############################### PESTAÑA CONTACTO ##################################
################################################################################ */
/* TITULO */
.bodyContacto {
  background-image: url("../img/autoContacto.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000000;
}

.titContacto {
  position: relative;
  top: 20rem;
  margin-left: 5%;
}

.titContacto h2 {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 6vw;
  color: #c9c6c6d2;
  text-shadow: 5px 5px 10px #3b434d;
  animation: 0.7s 0s reverse slideinTitContacto;
}

.titContacto h3 {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3vw;
  color: #f7f7f7d2;
  text-shadow: 2px 2px 10px #3b434d;
  animation: 0.7s 0s reverse slideinTitContacto;
}

/* EFECTO ANIMATION TITULO CONTACTO */
@-webkit-keyframes slideinTitContacto {
  from {
    margin-left: 5%;
  }
  to {
    margin-left: -100%;
  }
}
@keyframes slideinTitContacto {
  from {
    margin-left: 5%;
  }
  to {
    margin-left: -100%;
  }
}

/* FORMULARIO - CONTACTO */
.ContactForm {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#3b434d81), to(#8400ff3b));
  background: linear-gradient(180deg, #3b434d81, #8400ff3b);
  padding: 15px;
  border: 1px solid #5e5959;
  border-radius: 10px;
  margin: 10px 5%;
  width: 500px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  animation: 0.7s 0s reverse slideinContactForm;
}

@-webkit-keyframes slideinContactForm {
  from {
    margin-left: 5%;
  }
  to {
    margin-left: -30%;
  }
}

@keyframes slideinContactForm {
  from {
    margin-left: 5%;
  }
  to {
    margin-left: -30%;
  }
}

.ContactForm__label {
  display: inline-block;
  width: 25%;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.87);
}

.ContactForm__input {
  color: #000000;
  border-radius: 5px;
  border-width: 2px;
  padding: 5px;
}

.ContactForm__textArea {
  border-radius: 10px;
  border-width: 2px;
  padding: 15px;
  resize: none;
}

.ContactForm__submitButton {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #ffffffd5;
  font-weight: bolder;
  border: 2px solid #d4fab1;
  border-radius: 5px;
  padding: 9px;
  background-color: #7bff0096;
  -webkit-box-shadow: 1px 1px 5px #7bff00;
          box-shadow: 1px 1px 5px #7bff00;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.ContactForm__resetButton {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #ffffffd5;
  font-weight: bolder;
  margin-left: 2%;
  border: 2px solid #f87c88be;
  border-radius: 5px;
  padding: 9px;
  background-color: #ff0019a9;
  -webkit-box-shadow: 1px 1px 2px #ff0019be;
          box-shadow: 1px 1px 2px #ff0019be;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

/* EFECTOS BOTONES SUBMIT Y RESET */
.ContactForm__submitButton:hover {
  background-color: #59b304be;
  -webkit-box-shadow: 1px 1px 2px #59b304be;
          box-shadow: 1px 1px 2px #59b304be;
  border: 2px solid #5cbd02be;
  color: #ffffffd5;
}

.ContactForm__resetButton:hover {
  background-color: #c20417be;
  -webkit-box-shadow: 1px 1px 5px #c20417be;
          box-shadow: 1px 1px 5px #c20417be;
  border: 2px solid #bb2837;
  color: #ffffffd5;
}

/* ################################################################################
##################################### PESTAÑA EMPRESA #############################
################################################################################ */
/*SOBRE NOSOTROS*/
.titleSection {
  width: 80%;
  margin: 5rem auto;
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 5px #3b434d;
}

/*OPERACIONES*/
.titleSection h2 {
  font-size: 3.5rem;
}

/*CONDICIONALES*/
/*aplicamos radius de 10 , en caso contrario no*/
/*BOOLEANO*/
/*EXTEND*/
#containerAboutUs {
  border: 1px solid rgba(110, 109, 109, 0.555);
  border-radius: 10px;
  overflow: auto;
}

.containerAboutUs {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  width: 80%;
  margin: 15rem auto 0;
}

.AboutUsTitle {
  position: relative;
  top: 130px;
  width: 80%;
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 5px #3b434d;
}

.containerAboutUs__logo {
  background: #3b434d;
  padding: 2rem;
}

.containerAboutUs__Description {
  background: -webkit-gradient(linear, left top, right top, from(#c4caa4b6), to(#d9dd6ea9));
  background: linear-gradient(90deg, #c4caa4b6, #d9dd6ea9);
}

.containerAboutUs__Description--parrafo, .cardsTeamImg {
  font-size: 2rem;
  padding: 1.5rem;
}

.containerAboutUs__Contacto {
  width: 90%;
  margin: 1% 1%;
}

#botonContacto {
  background-color: #1c6dc9;
  border: 2px solid #4747f3;
  -webkit-box-shadow: 1px 1px 10px #0000ff;
          box-shadow: 1px 1px 10px #0000ff;
  width: 15%;
  font-size: 1.1vw;
  padding: 1rem;
  border-radius: 5px;
  margin: 2% 0 1% 0%;
  color: rgba(255, 255, 255, 0.87);
}

#botonContacto:hover {
  background-color: #1776e4;
  border: 2px solid #3232f7;
  transform: scale(1.05);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/*SECCION NUESTRO EQUIPO*/
.containerTeam__img {
  filter: drop-shadow(5px 5px 10px black);
  -webkit-filter: drop-shadow(5px 5px 10px black);
  margin: 5rem 0;
}

.containerTeam__img img {
  width: 60%;
  border: 1px solid rgba(110, 109, 109, 0.555);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transition: -webkit-transform 1s, -webkit-filter 1.5s ease-in-out;
  transition: -webkit-transform 1s, -webkit-filter 1.5s ease-in-out;
  transition: transform 1s, filter 1.5s ease-in-out;
  transition: transform 1s, filter 1.5s ease-in-out, -webkit-transform 1s, -webkit-filter 1.5s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: transform 1s, filter 1.5s ease-in-out;
  -moz-transition: transform 1s, filter 1.5s ease-in-out;
  -ms-transition: transform 1s, filter 1.5s ease-in-out;
  -o-transition: transform 1s, filter 1.5s ease-in-out;
}

.containerTeam__img img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

/*SECCION AUTORIDADES*/
.containerCardsTeam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  margin: 2rem auto 10rem;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cardsTeamItem {
  -webkit-box-shadow: 1px 1px 10px black;
          box-shadow: 1px 1px 10px black;
  background: -webkit-gradient(linear, left top, left bottom, from(#0066ff3b), to(#ffffffcc));
  background: linear-gradient(#0066ff3b, #ffffffcc);
  border: 1px solid grey;
  border-radius: 1rem;
  text-align: center;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.cardsTeamImg img {
  border-radius: 1rem;
  width: 100%;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.cardsTeamDescription {
  padding: 3rem;
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
}

.cardsTeamDescription h2 {
  font-size: 2.5rem;
  text-shadow: 0.5px 0.5px 20px black;
}

.cardsTeamDescription h3 {
  font-size: 2rem;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.521);
}

@media (max-width: 768px) {
  /*SOBRE NOSOTROS*/
  .containerAboutUs__Contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: 0 auto;
  }
  #botonContacto {
    width: 80%;
    font-size: 2.5rem;
  }
  /*NUESTRO EQUIPO*/
  .titleSection {
    text-align: center;
  }
  .containerCardsTeam {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60%;
    gap: 10px;
  }
}

/* ################################################################################
##################################### PESTAÑA CERO KM #############################
################################################################################ */
.bodyCerokm {
  background-image: linear-gradient(45deg, #ffffff71 0%, #c09fe633 100%);
}

.containerTitleCerokm {
  width: 80%;
  margin: 0 auto;
  margin: 160px auto 10px;
}

.containerTitleCerokm h2 {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
  text-shadow: 1px 1px 5px #3b434d;
}

/* CONTAINER GENERAL DEL GRID*/
.containerCeroKM {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: 50px auto;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 20px;
      grid-template-areas: "containerCerokm__filtro auto1" ". auto2" ". auto3" ". auto4" ". auto5";
}

/* COLUMNA FILTRO */
.containerCerokm__filtro {
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  padding: 15px;
  border-radius: 15px;
  background-color: #5858583d;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "tituloFiltro" "ano" "marca" "modelo";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: containerCerokm__filtro;
}

.tituloFiltro h3 {
  font-size: 4rem;
  text-shadow: 1px 1px 2px #3b434d;
  letter-spacing: 1px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tituloFiltro;
}

.ano {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ano;
}

.marca {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: marca;
}

.modelo {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: modelo;
}

.containerCerokm__filtro h4 {
  font-size: 2rem;
  text-shadow: 1px 1px 1px #3b434d;
  letter-spacing: 1px;
}

.containerCerokm__filtro select {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border-width: 0.2rem;
  padding: 1rem;
  margin: 1rem;
  width: 90%;
  color: #000000;
}

/* COLUMNA AUTOS-DESCRIPCION-COMPRA-INFORMACION */
.containerCerokm__autos {
  background-color: #d8de2a1c;
  padding: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  gap: 0px 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.containerCerokm__autos img {
  margin-bottom: 10px;
  border: 5px solid #3b434d;
  border-style: double;
  border-radius: 15px;
  width: 100%;
  min-width: 200px;
}

.containerCerokm__autos h5 {
  font-size: 4rem;
  background-color: #9fde2a3d;
  border-radius: 15px;
  padding: 10px;
}

.autoDescripcion__Desc {
  font-style: italic;
  font-size: 1.9rem;
  background-color: #d8de2a3d;
  border-radius: 15px;
  padding: 10px 25px;
}

.tituloModal {
  font-size: 3rem;
  color: white;
}

.infoModal {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

/* AUTO 1 */
.auto1 {
      grid-template-areas: "auto1Img auto1Descripcion" "auto1ComprarInformacion auto1ComprarInformacion";
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: auto1;
}

.auto1Img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: auto1Img;
}

.auto1Descripcion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: auto1Descripcion;
}

.auto1ComprarInformacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: auto1ComprarInformacion;
}

/* AUTO 2 */
.auto2 {
      grid-template-areas: "auto2Img auto2Descripcion" "auto2ComprarInformacion auto2ComprarInformacion";
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: auto2;
}

.auto2Img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: auto2Img;
}

.auto2Descripcion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: auto2Descripcion;
}

.auto2ComprarInformacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: auto2ComprarInformacion;
}

/* AUTO 3 */
.auto3 {
      grid-template-areas: "auto3Img auto3Descripcion" "auto3ComprarInformacion auto3ComprarInformacion";
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: auto3;
}

.auto3Img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: auto3Img;
}

.auto3Descripcion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: auto3Descripcion;
}

.auto3ComprarInformacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: auto3ComprarInformacion;
}

/* AUTO 4 */
.auto4 {
      grid-template-areas: "auto4Img auto4Descripcion" "auto4ComprarInformacion auto4ComprarInformacion";
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: auto4;
}

.auto4Img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: auto4Img;
}

.auto4Descripcion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: auto4Descripcion;
}

.auto4ComprarInformacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: auto4ComprarInformacion;
}

/* AUTO 5 */
.auto5 {
      grid-template-areas: "auto5Img auto5Descripcion" "auto5ComprarInformacion auto5ComprarInformacion";
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: auto5;
}

.auto5Img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: auto5Img;
}

.auto5Descripcion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: auto5Descripcion;
}

.auto5ComprarInformacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: auto5ComprarInformacion;
}

#comprar {
  background-color: #1c6dc9;
  border: 2px solid #4747f3;
  -webkit-box-shadow: 1px 1px 10px #0000ff;
          box-shadow: 1px 1px 10px #0000ff;
  width: 18%;
  font-size: 1.2vw;
  padding: 1rem;
  border-radius: 5px;
  margin: 1%;
  color: rgba(255, 255, 255, 0.87);
}

#comprar:hover {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #1776e4;
  border: 2px solid #3232f7;
  -webkit-box-shadow: 1px 1px 5px #0000ff;
          box-shadow: 1px 1px 5px #0000ff;
  padding: 1rem;
  border-radius: 10px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#masInformacion {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ff8800;
  border: 2px solid #fc7232;
  -webkit-box-shadow: 1px 1px 10px #ff9900;
          box-shadow: 1px 1px 10px #ff9900;
  width: 15%;
  font-size: 1.2vw;
  padding: 1rem;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.87);
}

#masInformacion:hover {
  background-color: #f3952a;
  border: 2px solid #fa611a;
  -webkit-box-shadow: 1px 1px 5px #ff9900;
          box-shadow: 1px 1px 5px #ff9900;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  .containerCerokm__autos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1rem;
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .containerCeroKM {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .containerCerokm__filtro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%;
  }
  .tituloFiltro {
    width: 100%;
  }
  #masInformacion {
    font-size: 3vw;
    width: 100%;
  }
}

/* ################################################################################
##################################### PESTAÑA USADOS###############################
################################################################################ */
.bodyUsados {
  background-image: linear-gradient(45deg, #ffffff71 0%, #c09fe633 100%);
}

.containerTitleUsados {
  width: 80%;
  margin: 0 auto;
  margin: 160px auto 10px;
}

.containerTitleUsados h2 {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
  text-shadow: 1px 1px 5px #3b434d;
}

/* CONTAINER GENERAL DEL GRID*/
.containerUsados {
  font-family: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: 50px auto;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 20px;
      grid-template-areas: "containerUsados__filtro auto6" ". auto7" ". auto8" ". auto9" ". auto10";
}

/* COLUMNA FILTRO */
.containerUsados__filtro {
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  padding: 15px;
  border-radius: 15px;
  background-color: #5858583d;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "tituloFiltro" "ano" "marca" "modelo";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: containerUsados__filtro;
}

.tituloFiltro h3 {
  font-size: 4rem;
  text-shadow: 1px 1px 2px #3b434d;
  letter-spacing: 1px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tituloFiltro;
  text-align: center;
}

.ano {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ano;
}

.marca {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: marca;
}

.modelo {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: modelo;
}

.containerUsados__filtro h4 {
  font-size: 2rem;
  text-shadow: 1px 1px 1px #3b434d;
  letter-spacing: 1px;
}

.containerUsados__filtro select {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border-width: 0.2rem;
  padding: 1rem;
  margin: 1rem;
  width: 90%;
  color: #000000;
}

/* COLUMNA AUTOS-DESCRIPCION-COMPRA-INFORMACION */
.containerUsado__autos {
  background-color: #d8de2a1c;
  padding: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  gap: 0px 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.containerUsado__autos img {
  margin-bottom: 10px;
  border: 5px solid #3b434d;
  border-style: double;
  border-radius: 15px;
  width: 100%;
  min-width: 200px;
}

.containerUsado__autos h5 {
  font-size: 4rem;
  background-color: #9fde2a3d;
  border-radius: 15px;
  padding: 10px;
}

/* AUTO 6 */
.auto6 {
      grid-template-areas: "auto6Img auto6Descripcion" "auto6ComprarInformacion auto6ComprarInformacion";
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: auto6;
}

.auto6Img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: auto6Img;
}

.auto6Descripcion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: auto6Descripcion;
}

.auto6ComprarInformacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: auto6ComprarInformacion;
}

/* AUTO 7 */
.auto7 {
      grid-template-areas: "auto7Img auto7Descripcion" "auto7ComprarInformacion auto7ComprarInformacion";
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: auto7;
}

.auto7Img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: auto7Img;
}

.auto7Descripcion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: auto7Descripcion;
}

.auto7ComprarInformacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: auto7ComprarInformacion;
}

/* AUTO 8 */
.auto8 {
      grid-template-areas: "auto8Img auto8Descripcion" "auto8ComprarInformacion auto8ComprarInformacion";
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: auto8;
}

.auto8Img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: auto8Img;
}

.auto8Descripcion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: auto8Descripcion;
}

.auto8ComprarInformacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: auto8ComprarInformacion;
}

/* AUTO 9 */
.auto9 {
      grid-template-areas: "auto9Img auto9Descripcion" "auto9ComprarInformacion auto9ComprarInformacion";
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: auto9;
}

.auto9Img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: auto9Img;
}

.auto9Descripcion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: auto9Descripcion;
}

.auto9ComprarInformacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: auto9ComprarInformacion;
}

/* AUTO 10 */
.auto10 {
      grid-template-areas: "auto10Img auto10Descripcion" "auto10ComprarInformacion auto10ComprarInformacion";
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: auto10;
}

.auto10Img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: auto10Img;
}

.auto10Descripcion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: auto10Descripcion;
}

.auto10ComprarInformacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: auto10ComprarInformacion;
}

@media only screen and (max-width: 768px) {
  .containerUsado__autos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1rem;
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .containerUsados {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .containerUsados__filtro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%;
  }
  .tituloFiltro {
    width: 100%;
  }
  #comprar {
    font-size: 3vw;
    width: 100%;
    margin: 10px 0 5px 0;
  }
  #masInformacion {
    font-size: 3vw;
    width: 100%;
  }
}

/* ################################################################################
##################################### FIN CSS #####################################
################################################################################ */
/*# sourceMappingURL=styles.css.map */