/* ################################################################################
##################################### PESTAÑA EMPRESA #############################
################################################################################ */
/*SOBRE NOSOTROS*/
.titleSection {
  width: 80%;
  margin: 5rem auto;
  font-family: $fuenteRussoVerdana;
  text-shadow: 1px 1px 5px $grisBase;
  h2 {
    font-size: 3.5rem;
  }
}
.AboutUsTitle {
  position: relative;
  top: 130px;
  width: 80%;
  font-family: $fuenteRussoVerdana;
  text-shadow: 1px 1px 5px $grisBase;
}
/*OPERACIONES*/
/*CONDICIONALES*/
$bordeCurvo: grande; /*aplicamos radius de 10 , en caso contrario no*/
/*BOOLEANO*/
$mostrar: true;
/*EXTEND*/
.cardsTeamImg {
  @extend .containerAboutUs__Description--parrafo;
}
#containerAboutUs {
  border: 1px solid rgba(110, 109, 109, 0.555);
  @if $bordeCurvo == grande {
    border-radius: 10px;
  } @else if $bordeCurvo == chico {
    border-radius: 50px;
  } @else {
    border-radius: 0;
  }
  @if $mostrar {
    overflow: auto;
  }
}
.containerAboutUs {
  font-family: $fuenteRussoVerdana;
  width: 80%;
  margin: 15rem auto 0;
  .containerAboutUs__logo {
    background: $grisBase;
    padding: 2rem;
  }
  .containerAboutUs__Description {
    background: linear-gradient(90deg, #c4caa4b6, #d9dd6ea9);
    .containerAboutUs__Description--parrafo {
      font-family: $fuenteVerdanaGeneva;
    }
    .containerAboutUs__Contacto {
      width: 90%;
    }
    /*BOTON CLICK AQUI - CONTACTO*/
    figure {
      width: 180px;
      height: 60px;
      cursor: pointer;
      perspective: 500px;
      -webkit-perspective: 500px;
    }
    figure div {
      height: 100%;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }
    figure:hover div {
      transform: rotateX(-90deg);
    }
    span {
      width: 100%;
      height: 100%;
      position: absolute;
      border: 5px solid #ffffff;
      border-radius: 0.3rem;
      font-family: $fuenteRussoVerdana;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      -ms-border-radius: 0.3rem;
      -o-border-radius: 0.3rem;
      a {
        text-decoration: none;
        color: rgb(44, 41, 226);
      }
    }
    span:nth-child(1) {
      font-size: 2rem;
      color: $grisBase;
      transform: translate3d(0, 0, 30px);
      -webkit-transform: translate3d(0, 0, 30px);
    }
    span:nth-child(2) {
      font-size: 2rem;
      background: #d6dabe;
      transform: rotateX(90deg) translate3d(0, 0, 30px);
      -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
    }
  }
}
/*SECCION NUESTRO EQUIPO*/
.containerTeam__img {
  filter: drop-shadow(5px 5px 10px black);
  -webkit-filter: drop-shadow(5px 5px 10px black);
  margin: 5rem 0;
  img {
    border: 1px solid rgba(110, 109, 109, 0.555);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: transform 1s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
    -webkit-transition: transform 1s, filter 1.5s ease-in-out;
    -moz-transition: transform 1s, filter 1.5s ease-in-out;
    -ms-transition: transform 1s, filter 1.5s ease-in-out;
    -o-transition: transform 1s, filter 1.5s ease-in-out;
    &:hover {
      filter: grayscale(0);
    }
  }
}
/*SECCION AUTORIDADES*/
.containerCardsTeam {
  margin: 2rem auto 10rem;

  .cardsTeamItem {
    box-shadow: 1px 1px 10px black;
    background: linear-gradient(#0066ff3b, #ffffffcc);
    border: 1px solid grey;
    border-radius: 1rem;
    text-align: center;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    .cardsTeamImg {
      img {
        border-radius: 1rem;
        width: 100%;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
      }
    }
    .cardsTeamDescription {
      padding: 3rem;
      font-family: $fuenteRussoVerdana;

      h2 {
        font-size: 2.5rem;
        text-shadow: 0.5px 0.5px 20px rgb(0, 0, 0);
      }
      h3 {
        font-size: 2rem;
        text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.521);
      }
    }
  }
}
