/*#######################*/
/*######## INDEX ########*/
/*#######################*/
/*min-width:0 -> mayor o igual a 0 */
/*max-width:768 -> menor o igual a 768*/
@media (min-width: 0) {
  .titleNewUsedCars {
    display: none;
  }
  .newUsedCards {
    margin-top: 5rem;
    h2 {
      text-align: center;
    }
  }
  .newUsedCards__button {
    text-align: center;
  }
  .boxCards__titleCar {
    margin-top: -30rem;
  }

  #newUsedCards__img {
    width: 100%;
  }
  .boxCards__card {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .boxCards__item {
      width: 80%;
      margin-top: 10px;
      h4,
      h5 {
        text-align: center;
      }
      .containerColorCarsDisp {
        justify-content: center;
      }
      .boxCards__ul {
        margin: 0;
      }
    }
  }
  .titleBrands {
    margin-top: -30rem;
  }
  .containerBrands {
    display: flex;
    justify-content: center;

    .containerBrands__in {
      display: flex;
      flex-direction: column;
    }
    .containerBrands__item {
      img {
        margin-top: 1.5rem;
      }
    }
  }
}
@media (min-width: 768px) {
  .newUsedCards {
    p {
      font-size: 2rem;
    }
    h2 {
      font-size: 5rem;
      text-align: left;
    }
    .newUsedCards__button {
      text-align: left;
    }
  }
  #newUsedCards__img {
    width: 50%;
  }
  .boxCards__card {
    flex-direction: row;
    .boxCards__item {
      width: 25%;

      h4,
      h5 {
        font-size: 1.5vw;
        text-align: start;
      }
      .containerColorCarsDisp {
        justify-content: flex-start;
      }
      .boxCards__ul {
        margin: 0;
      }
    }
  }
  .containerBrands {
    display: block;
    .containerBrands__in {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
/*#######################*/
/*####### CONTACTO ######*/
/*#######################*/
@media (min-width: 0px) {
  .titContacto h2 {
    font-size: 10vw;
  }
  .titContacto h3 {
    font-size: 4vw;
  }
  .ContactForm__resetButton {
    margin: 0;
  }
  .containerButtons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
@media (min-width: 768px) {
  .titContacto h2 {
    font-size: 5vw;
  }
  .titContacto h3 {
    font-size: 2vw;
  }
  .ContactForm__resetButton {
    margin-left: 2%;
  }
  .containerButtons {
    display: flex;
    flex-direction: row;
  }
}
