/* ################ VARIABLES ################ */

/*FUENTES*/
$fuenteRussoVerdana: "Russo One", Verdana, Geneva, Tahoma, sans-serif;
$fuenteVerdanaGeneva: Verdana, Geneva, Tahoma, sans-serif;
/*COLORES*/
$grisBase: #3b434d;
$violetaBase: #8400ff;
$gradientGreenBlack: linear-gradient(90deg, #3b434d7c, #d8de2aa9);
$sizeTitles: 5rem;
